.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color: black;
  text-align: center;
}

.row {
  display: flex;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 10rem;
  width: 10rem;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.gradient-background {
  background: linear-gradient(87deg, deepskyblue, darkviolet, blue);
  background-size: 180% 180%;
  animation: gradient-animation 3s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

button {
  visibility: hidden;
}

@media (max-width: 896px) {

  h1 {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    color: black;
  }

  .btn {
    margin: 5px;
    display: inline-block;
    min-height: 4rem;
    min-width: 4rem;
    border: 10px solid black;
    border-radius: 20%;
  }

  .container{
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  button {
    visibility: visible;
    border: 5px solid white;
    background-color: black;
    color: white;
  }

  .press {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
